[submodule "library/Zend"]
	path = library/Zend
	url = git@github.com:Enrise/Glitch3_Lib.git
[submodule "library/Glitch"]
	path = library/Glitch
	url = git@github.com:Enrise/Glitch3_Lib.git
[submodule "docs"]
	path = docs
	url = git@github.com:Enrise/Glitch3_Docs.git
