[submodule "library/Zend"]
	path = library/Zend
	url = git@github.com:Enrise/Zend.git
[submodule "library/Glitch"]
	path = library/Glitch
	url = https://github.com/Enrise/Glitch_Lib
[submodule "dev/submodule/ZF2"]
	path = dev/submodule/ZF2
	url = git@github.com:zendframework/zf2.git
[submodule "dev/submodule/Phpunit-3.4"]
	path = dev/submodule/Phpunit-3.4
	url = git://github.com/sebastianbergmann/phpunit.git
